.projects  {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0 1rem;

    .project {
        background-color: #fff;
        
        height: 15rem;
        width: 25rem;
    
        padding: 0.2rem;
        margin: 1rem 0;
        
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    
        border-radius: 0.5rem;
        transition: 0.3s;
        box-shadow: 0px 1px 0.2em #333;

        &:hover {
            box-shadow: 0px 4px 0.5em #333;
        }
    } 
    
    img {
        height: 12rem;
        width: 100%;
    
        border-radius: 0.5rem;
    }
    
    span {
        width: 10rem;
    
        display: inline-flex;
        padding: 0.2rem;
    }
    
    h3 {
        margin-right: 0.3rem;
    
        /* font-size: 2.3rem; */
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
    }
    
    a {
        display: flex;
        align-items: center;
    }
    
    
    .techs {
        display: flex;
        justify-content: center;
        
        padding: 0.2rem;
    }
    
    .project-icon {
        margin: 0 0.3rem;
        cursor: pointer;
    }
    
    .project-icon:hover {
        filter: brightness(0.7);
        transform: scale(1.2);
    }
}
