header {
    background-color: #0A043C;
    height: 100vh;
}

header nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

header>nav .menu-hamburger {
    position: fixed;

    margin-right: 0.3rem;
    margin-top: 2.5rem;

    cursor: pointer;
    transition: filter .3s;
    z-index: 2;
}

header>nav .menu-hamburger:hover {
    filter: brightness(1.1);
}

header>nav .menu-hamburger .bar1,
.bar2,
.bar3 {
    width: 2.187rem;
    height: 0.312rem;

    background-color: var(--colorMenu);
    border: 1px solid #333;
    
    margin: 0.375rem 0;
    transition: .4s;
}

.change .bar1 {
    -webkit-tranform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

header>nav ul {
    background-color: #A3DDCB;
    
    position: fixed;
    top: 0;
    
    width: 100%;
    height: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0;

    overflow: hidden;
    transition: height .4s;
    z-index: 1;

    border-radius: 0 0 6rem 6rem;
    box-shadow: 0 0 .5em #333;
}

.height-menu {
    height: 70vh;
}

header>nav ul a {
    color: var(--colorMenu);

    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: .1rem;

    margin-bottom: 1rem;
    padding: 0.3rem;

    transition: filter .3s;
    list-style: none;
    cursor: pointer;
}

header>nav ul a:hover {
    filter: brightness(1.1);
}

header>article {
    color: #fff;

    position: relative;
    top: 8rem;

    min-width: 20rem;
    min-height: 15rem;
    
    margin-bottom: 13rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header>article>p {
    color: #fff;

    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

header>article .social-networks,
.contact {
    margin: 0.6rem;
    padding: 0.6rem;
}

header article .social-networks p,
.contact p {
    text-align: center;
    margin-bottom: 0.3rem;

    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

header article .social-networks .icon-networks {
    margin: 0.1rem 0.6rem;

    cursor: pointer;
    transition: transform .3s;
}

header article .social-networks .icon-networks:hover {
    filter: brightness(0.7);
    transform: scale(1.2);
}

header article .contact .icon-contact {
    margin: 0.1rem 0.6rem;

    cursor: pointer;
    transition: transform .3s;
}

header article .contact .icon-contact:hover {
    filter: brightness(0.7);
    transform: scale(1.2);
}

header .backImageHeader svg {
    position: absolute;
    bottom: -0.1rem;
}

@media(min-width: 801px) {
    header>nav .menu-hamburger {
        display: none;
    }

    header>nav ul {
        background-color: transparent;
        position: relative;
        height: auto;

        flex-direction: row;

        border-radius: 0;
        box-shadow: none;
    }
    header>nav ul a {
        text-decoration: none;
    }
    header>nav ul a:hover {
        text-decoration: underline;
    }

    @media (min-width: 1100px) {
        header>article {
            top: 7rem;
            z-index: 1;
        }
        header>nav ul {
            width: auto;
        }
    }
}

/* 
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; 
*/