header {
    background-color: #0A043C;
    height: 40rem;
    border: 1px solid blue;
}

header nav {
    /* position: relative; */
    /* color: var(--colorMenu); */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid #fff; */
}

header > nav .menu-hamburger {
    position: fixed;

    cursor: pointer;
    margin-right: 0.3rem;
    margin-top: 2rem;
}

header > nav .menu-hamburger .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--colorMenu);
    margin: 6px 0;
    transition: .4s;
}

.change .bar1 {
    -webkit-tranform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

header > nav ul{
    background-color: rgba(0, 0, 0, .50);
    position: fixed;
    top: 2.1rem;
    padding: 0;
    width: 100%;
    height: 0;
    /* border: 1px solid #fff; */

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: height .4s;
}
.height-menu {
    height: 8rem;
}

header > nav ul li{
    /* background-color: rgba(0, 0, 0, .408); */
    color: var(--colorMenu);

    width: 100%;
    padding: 0.3rem;
    
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 1px;

    list-style: none;
    cursor: pointer;
}
header > nav ul li:hover {
    filter: brightness(0.9);
    text-decoration: underline;
}

header > article {
    color: #fff;
}

/* 
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; 
*/