@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

:root {
    --subtitleColor: #03506F;
    --colorMenu: #A3DDCB;
    --colorParagraph: #333;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F3F4F5;
}
