@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

:root {
    --subtitleColor: #03506F;
    --colorMenu: #EEEEEE;
    --colorParagraph: #333;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F3F4F5;

    h2 {
        color: var(--subtitleColor);
        text-align: center;
        
        font-size: 2.3rem;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    
        margin: 1rem 0;
    }
}

@media(min-width: 735px) {
    section>.projects .project {
        width: 22rem;
        margin: 1rem auto;
    } 
}

@media(min-width: 900px) {
    section>.projects .project {
        width: 25rem;
    } 
}
